html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.dashboard {
    text-align: center;
    padding: 2rem;
width: 100vw;
    /* Full viewport width */height: 100vh;}

.button-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5.5rem;
}

.dashboard-button {
    width: 300px;
    height: 200px;
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.dashboard-button:hover {
    transform: scale(1.05);
}

.dashboard-button span {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.title{
    padding-top: 50px;
padding-bottom: 200px;
}